.skills-section {
    padding: 5rem 0;
 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #ddd1d1;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
  
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background: #263646;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 180px;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 8px rgb(238, 231, 231);
  }
  
  .skill-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .skill-icon svg {
    width: 1em;
    height: 1em;
  }
  
  .skill-name {
    font-size: 1.1rem;
    color: #ffffff;
    text-align: center;
  }
  

  @media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .section-title {
      font-size: 2rem;
    }
  }