.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.section {
  padding: 60px 0; 
}

h2 {
  text-align: left;
  margin-bottom: 30px;
  color: #f7f0f0;
}